<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <HumanView value="True" />
  <HumanHeight value="1.75" />
  <Factor value="10000" />
  <DisplayDoors value="True" />
  <DisplayWindows value="True" />
  <FancyCameraIcon value="True" />
  <ResetCoordinate value="True" />
  <sensor name="1/3.6" width="4" height="3" />
  <sensor name="1/3.2" width="4.5" height="3.4" />
  <sensor name="1/3" width="4.8" height="3.6" />
  <sensor name="1/2.7" width="5.4" height="4" />
  <sensor name="1/2.5" width="5.8" height="4.3" />
  <sensor name="1/2" width="6.4" height="4.8" />
  <lens name="2mm" length="2" />
  <lens name="3mm" length="3" />
  <lens name="4mm" length="4" />
  <lens name="5mm" length="5" />
  <lens name="6mm" length="6" />
  <lens name="7mm" length="7" />
  <lens name="8mm" length="8" />
  <resolution name="sQCIF" width="128" height="96"/>
<resolution name="QQVGA" width="160" height="120"/>
<resolution name="QCIF" width="176" height="144"/>
<resolution name="HQVGA" width="240" height="160"/>
<resolution name="256" width="256" height="192"/>
<resolution name="QVGA" width="320" height="240"/>
<resolution name="QVGA+" width="345" height="240"/>
<resolution name="SIF" width="352" height="240"/>
<resolution name="WQVGA" width="400" height="240"/>
<resolution name="CIF" width="352" height="288"/>
<resolution name="WQVGA+" width="427" height="240"/>
<resolution name="FWQVGA" width="432" height="240"/>
<resolution name="CGA" width="640" height="200"/>
<resolution name="HVGA" width="480" height="320"/>
<resolution name="EGA" width="640" height="350"/>
<resolution name="HVGAW" width="640" height="360"/>
<resolution name="VGA" width="640" height="480"/>
<resolution name="WVGA" width="800" height="480"/>
<resolution name="FWVGA" width="854" height="480"/>
<resolution name="FWVGA+" width="864" height="480"/>
<resolution name="FWVGA++" width="960" height="480"/>
<resolution name="SVGA" width="800" height="600"/>
<resolution name="UWVGA" width="1024" height="480"/>
<resolution name="qHD" width="960" height="540"/>
<resolution name="WSVGA" width="1024" height="576"/>
<resolution name="DoubleVGA" width="960" height="640"/>
<resolution name="UWSVGA" width="1280" height="600"/>
<resolution name="XGA" width="1024" height="768"/>
<resolution name="HD" width="1280" height="720"/>
<resolution name="WXGA" width="1280" height="768"/>
<resolution name="XGA+" width="1152" height="864"/>
<resolution name="WXGA" width="1280" height="800"/>
<resolution name="HD" width="1366" height="768"/>
<resolution name="QVGA" width="1280" height="960"/>
<resolution name="WXGA+" width="1440" height="900"/>
<resolution name="SXGA" width="1280" height="1024"/>
<resolution name="HD+" width="1600" height="900"/>
<resolution name="SXGA+" width="1400" height="1050"/>
<resolution name="WSXGA" width="1600" height="1024"/>
<resolution name="WSXGA+" width="1680" height="1050"/>
<resolution name="UXGA" width="1600" height="1200"/>
<resolution name="FHD" width="1920" height="1080"/>
</configuration>